body
{
    margin: 0;
    background-color: #333333;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.proj-title
{
	text-align: center;
	font-weight: 700;
}
.column {
    float: left;
    width: 30.33%;
	padding-left: 3%;
}
.text
{
    padding-top: 4%;
    font-family: "Baskerville Old Face";
    font-size: 1.5em;
    background-color: #3F3F3F;
    color: #aaaaaa;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100%;
    height: 100%;
	
}

.container .portImg img{
	width: 93%;
	height: 93%;
}
.container {

    position: relative;
}
.container .portImg .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 98.5%;
    width: 93%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.container:hover .overlay {
    opacity: 0.5;

}

.container a:visited{
	color: #ffbd59;
}
.container .portImg .otext
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
	width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}